<link rel="stylesheet" href="./../assets/css/bootstrap.css">
<script src="./../assets/js/bootstrap.js"></script>


<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/profile">My profile</a> </li>
        <li><a href="/contacts">Contacts</a> </li>
        <li><a href="newContact">New contact</a> </li>
      </ul>
    </div>
    <div class="col-xs-9">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
